## Settings file was created by plugin Loadout Skill Titles v1.0.0
## Plugin GUID: com.TheTimeSweeper.LoadoutSkillTitles

[hope life is treating you well]

## Non-primary generic skill in skillslot 0 will be titled 'Passive'
# Setting type: Boolean
# Default value: false
First Skill Passive = false

## if a proper title token isn't found, use the skillName of the GenericSkill component for that slot
# Setting type: Boolean
# Default value: false
Fallback to skillName = true